<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url('templates
    /site/assets/favicon_io/favicon.ico')}}" type="image/x-icon">
    <title>Autenticação de {{usuario().nome}} </title>
    <link rel="stylesheet" href="../assets/css/autenticacao.css">
    <link rel="stylesheet" href="../assets/css/stylesglobais.css">
</head>
<body>
 
    <div class="backg-opacity"></div>
    <header class="header">
        <a href="{{url('')}}" class="Logo" id="logo" style="margin-left: 10px;">
         <h1 class="Text-Color-Azul"><strong>Help</strong></h1>
        </a>
     </header>

    <div class="container-autenticate">
        <!--
            <div class="logo-help">
                <h2 class="font-size19 Text-Color-Azul">Help</h2>
            </div>
        -->
        <div style="margin-top: 20px;">
            <p class="info-autenticate">
                Clique em "Gerar Senha" para receber um código no WhatsApp. Após recebê-lo, digite o código no formulário abaixo para confirmar sua identidade e começar a trabalhar connosco! 🚀
            </p>
        </div>
        <form action="{{url('admin/register/receive/password')}}" method="post" id="form-send">
            <div class="div-input">
                <input type="text" tabindex="1" autocomplete="off" name="s1" id="password" class="password" maxlength="1" required>

                <input type="text" tabindex="2" autocomplete="off" name="s2" id="password"  class="password" maxlength="1" required>

                <input type="text" tabindex="3" autocomplete="off" name="s3" id="password" class="password" maxlength="1" required>

                <input type="text" tabindex="4" autocomplete="off" name="s4" id="password" class="password" maxlength="1" required>

                <input type="text" tabindex="5" autocomplete="off" name="s5" id="password" class="password" maxlength="1" required>

                <input type="text" tabindex="6" autocomplete="off" name="s6" id="password" class="password" maxlength="1" required>

                <input type="tel" name="id" style="display: none !important;" value="{{BuscarUsuario(id).phone}}-{{BuscarUsuario(id).id}}">
            </div>
            <div class="btn-submit width100 center">
                <button type="submit" class="cursor">Enviar</button>
            </div>
        </form>
        <button class="btn-wht">
            <a href-whatsapp="{{url('admin/register/generate/password')}}"  target="_blank" id="{{BuscarUsuario(id).phone}}" class="whatsApp generate-password">Gerar Senha</a>
        </button>
    </div>

    
    <div class="ContainerSpinner">
        <div class="spinner"></div>
    </div>
     <!--SCRIPTS PARA OS JS-->

    <!--ESTILOS BOOTSTRAP-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!--ESTILOS JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!--SCRIPTS DO MAPA-->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="{{url('templates/biblioteca_jquery/jquery-3.7.2.min.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
    
    <script src="../assets/js/autenticacao.js"></script>
</body>
</html>