<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url('templates
    /site/assets/favicon_io/favicon.ico')}}" type="image/x-icon">
    <title>Cadastro dos usuários - Fornecedores</title>
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="stylesheet" href="../assets/css/query/cadastro.css">
    <link rel="stylesheet" href="../assets/css/stylesglobais.css">
    <link rel="shortcut icon" href="{{url('templates/site/')}}" type="image/x-icon">
</head>

<body class="hidden-x">

    <!--Notificação dos vários cancelamentos
    -->
    <div class="div-opacity"></div>
    <div class="container-info gap20">
            <div class="div-icon width100 cursor">
                <i class="fas fa-chevron-down rot"></i>
                <i class="fas fa-times"></i>
            </div>
            <div class="div-p-info" id="div-p-info">
                    <p class="p1" style="font-weight: bold; font-size: 1.1em;"></p>

                    <p class="p2" style="font-weight: bold;"></p>

                    <p class="p3"></p>

                    <p class="p4"></p>

                    <p class="p5"></p>

                    <p class="p6"></p>
            </div>
    </div>



    <div class="backg-opacity"></div>
  
    <header class="width100">
        <div class="center DivInfo Branco"><i class="fas fa-info-circle"></i></div>
    </header>
    <main class="center-coluna gap20 main">
        <section class="SectionForm">
            <form action="{{url('admin/register')}}" method="post" class="" id="form">
                <div class="container-logo-p">
                    <div class="DivLogo center">
                        <h1 class="Text-Color-Azul">Help</h1>
                    </div>
                    <div class="center Prom">
                        <p class="font-size09 opacity75 center">Pronto para transformar sua experiência? Comece agora a trabalhar na Help.</p>
                    </div>
                </div>

                <div class="container-inputs center-coluna">
                    <div class="center width100">
                        <p class="font-size08 Text-Color-Laranja center text-align-center" id="alert_sms"></p>
                    </div>
                    <div class="Campo center">
                        <input type="text" name="name" class="input_label" id="nome_ni" required>
                        <label for="nome_bi" class="label font-size08">Nome completo do BI</label>
                    </div>
                    <div class="Campo center">
                        <input type="number" name="number_bi" class="input_label" id="number_bi" required>
                        <label for="nome" class="label font-size08">Número do Bilhete de Identidade</label>
                    </div>
                    <div class="Campo center">
                        <input type="tel" name="phone" class="input_label" id="telefone" required>
                        <label for="telefone" class="label font-size08">Número de telefone</label>
                    </div>

                    <div class="DivBtn center Azul">
                        <button type="submit" class="BtnSend Azul-Marinho Text-Color-Branco cursor">
                            Enviar
                        </button>
                    </div>
                </div>

            </form>
        </section>

        <footer class="center-coluna footer gap10 width100">
            <div class="ContainerFooter gap10 center">
                <a href="#" class="font-size08 linkfooter">Sobre</a>
                <a href="#" class="font-size08 linkfooter">Termos de uso</a>
                <a href="#" class="font-size08 linkfooter">Políticas de privacidade</a>
                <a href="#" class="font-size08 linkfooter">Ajuda/Suporte</a>
            </div>
            <div class="FromHelp center">
                <p class="font-size08 opacity75 FromHelp">@2025 from Help</p>
            </div>
        </footer>
    </main>

    <div class="ContainerSpinner">
        <div class="spinner"></div>
    </div>

    <!--SCRIPTS PARA OS JS-->

    <!--ESTILOS BOOTSTRAP-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!--ESTILOS JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!--SCRIPTS DO MAPA-->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="{{url('templates/biblioteca_jquery/jquery-3.7.2.min.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>

    <script src="../assets/js/cadastro.js"></script>
</body>

</html>