<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url('templates
    /site/assets/favicon_io/favicon.ico')}}" type="image/x-icon">
    <title>Cadastrar usuário</title>
    <link rel="stylesheet" href="../assets/css/cadastro_user_pedinte.css">
    <link rel="stylesheet" href="../assets/css/stylesglobais.css">
</head>
<body class="hidden-x">
     <!--Notificação dos vários cancelamentos
    -->
    <div class="div-opacity"></div>
        <div class="container-info gap20">
            <div class="div-icon width100 cursor">
                <i class="fas fa-chevron-down rot"></i>
                <i class="fas fa-times"></i>
            </div>
            <div class="div-p-info" id="div-p-info">
                    <p class="p1" style="font-weight: bold; font-size: 1.1em;"></p>

                    <p class="p2" style="font-weight: bold;"></p>

                    <p class="p3"></p>

                    <p class="p4"></p>

                    <p class="p5"></p>

                    <p class="p6"></p>
            </div>
        </div>
        
    <header class="width100">
        <div class="center DivInfo Branco"><span class="material-icons">Info</span></div>
    </header>
    <main class="center-coluna main">      
        <section class="SectionForm">
            <form action="{{url('admin/cadastro_user_pedinte')}}" method="post" class="center-coluna" id="form">
                <div class="DivLogo center">
                    <p class="Text-Color-Azul">Help</p>
                </div>
                <div class="center Prom">
                    <p class="font-size09 opacity75 center" >Faça o seu cadastro aqui e comece a ganhar mais dinheiro</p>
                </div>
                <div class="center width100">
                    <p class="font-size08 Text-Color-Laranja center text-align-center" id="alert_sms"></p>
                </div>
                <div class="Campo center">
                    <input type="text" name="nome" class="input_label" id="nome_ni" required>
                    <label for="nome_bi" class="label" >Nome</label>
                </div>
                <div class="Campo center">
                    <input type="tel" name="telefone" class="input_label" id="telefone" required>
                    <label for="telefone" class="label" >Número de telefone</label>
                </div>
                <div class="Campo center">
                    <input type="password" minlength="4" maxlength="12" name="senha" class="input_label" id="senha" required>
                    <label for="senha" class="label" >Palavra-passe</label>
                </div>
                <div class="Campo center">
                    <input type="password" minlength="4" maxlength="12" name="confirmar_senha" class="input_label" id="confirmar_senha" required>
                    <label for="senha" class="label" >Confirmar palavra-passe</label>
                </div>
                <div class="DivBtn center Azul">
                    <button type="submit" class="BtnSend Azul-Marinho Text-Color-Branco cursor">
                        Cadastar
                    </button>
                </div>
            </form>
        </section>
    </main>
    <footer class="center-coluna footer gap10 width100">
        <div class="ContainerFooter gap10 center">
            <a href="#" class="font-size08 linkfooter">Sobre</a>
            <a href="#" class="font-size08 linkfooter">Termos de uso</a>
            <a href="#" class="font-size08 linkfooter">Políticas de privacidade</a>
            <a href="#" class="font-size08 linkfooter">Ajuda/Suporte</a>
        </div>
        <div class="FromHelp center">
            <p class="font-size08 opacity75 FromHelp" >@2024 from Help</p>
        </div>
    </footer>
     <!--SCRIPTS PARA OS JS-->

    <!--ESTILOS BOOTSTRAP-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!--ESTILOS JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!--SCRIPTS DO MAPA-->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="{{url('templates/biblioteca_jquery/jquery-3.7.2.min.js')}}"></script>

    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
    
    <script src="../assets/js/cadastro_user_pedinte.js"></script>
</body>
</html>