<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url('templates
    /site/assets/favicon_io/favicon.ico')}}" type="image/x-icon">
    <title>Help</title>
    <link rel="stylesheet" href="{{url('templates/site/assets/css/index.css')}}">
    <link rel="stylesheet" href="{{url('templates/site/assets/css/query/index.css')}}">
    <link rel="stylesheet" href="{{url('templates/site/assets/css/stylesglobais.css')}}">
    <link rel="shortcut icon" href="{{url('templates/site/')}}" type="image/x-icon">
</head>
<body id="body">
    {% include 'links.html'%}

    {% for p in pedidos_solicitados %}
    {% if p.user_aceitou == usuario().id and p.view == 2 %}
        <p style = "display: none" class="NotificationReject" id="alerta">{{flash()}}</p>
    {%endif%}
    {%endfor%}

    <!--Notificação dos vários cancelamentos-->

    {% if notification_pedido_cancel.contador == 3 and notification_pedido_cancel.user_cancelou == usuario().id and notification_pedido_cancel.vista == 0 %}
    <div class="container-info">
        <div class="div-info">
            <div class="display-flex width100 cont-help">
                <h3><strong class="Text-Color-Azul font-size14">Help</strong></h3>
                <p class="font-size07 Text-Color-Azul">prestaçãodeserviços</p>
            </div>
            
            <div class="container-info-notification">
                <span class="material-icons">info</span>
                <p id="info-notification"></p>
            </div>

            <div class="width100 Lightgrey"><button class="btn-info" url-btn = "{{url('admin/entendi/'~usuario().id)}}">Entendi</button></div>
        </div>
    </div>
    {%endif%}
    <!--termina aqui-->
    <header class="header">
       <a href="{{url('')}}" class="Logo" id="logo">
        <h2 class="Text-Color-Azul"><strong>Help</strong></h2>
       </a>
       <div class="ContainerLoginMenu gap05 center">
       
        {% if (usuario().id != null) and (pedido_aceite.user_pediu == usuario().id and pedido_aceite.existe == 0) %}
        <div class="HeaderVerPedido Azul-Marinho center gap05" id="HeaderVerPedido" url-busca = "{{url('redirecionar')}}" >
            <p>Pedido aceite!</p>
            <i class="fas fa-exclamation-triangle alert-icon"></i>
        </div>
        {% elseif pedido.user_pediu == usuario().id and pedido.existe == 1 %}
        <div class="HeaderVerPedido Cor-Espera center gap05" id="HeaderVerPedido" url-busca = "{{url('redirecionar')}}" >
            <p>Ver pedido</p>
            <i class="fas fa-exclamation-triangle alert-icon"></i>
        </div>
        {% elseif get_pedido.existe == 1 and usuario().level_admin == 3 %}
        <div class="HeaderVerPedido Cor-Espera center gap05" id="HeaderVerPedido" url-busca = "{{url('redirecionar')}}" >
            <p>Ver pedido</p>
            <i class="fas fa-exclamation-triangle alert-icon"></i>
        </div>
        {% elseif get_pedido.existe == 0 and usuario().level_admin == 3 %}
        <div class="HeaderVerPedido Cor-Espera center gap05" id="HeaderVerPedido" url-busca = "{{url('redirecionar')}}" >
            <p>Ver pedido</p>
            <i class="fas fa-exclamation-triangle alert-icon"></i>
        </div>
        {%endif%}

        {% if usuario().id %}
        {% if usuario().especialidade %}
        <div class=" Verde-Login padding03 font-size08 border-radius05 center">
            <a href-busca="{{url('redirecionar')}}" href="{{url('perfil/'~ToLower(usuario().nome))}}" class="Text-Color-Branco cursor font-weight-bold " id="link_perfil">{{TextoResumido(usuario().nome, 10) }}</a>
        </div>
        {% elseif usuario().especialidade == null %}
        <div class=" Verde-Login padding03 font-size08 border-radius05 center">
            <a busca-user="#" class="Text-Color-Branco font-weight-bold " >{{TextoResumido(usuario().nome, 10) }}</a>
        </div>
        {%endif%}
        {%else%}
        <div class="Login Azul-Login center">
            <a href-busca="{{url('redirecionar')}}" class="cursor" id="link_login">Login</a>
        </div>
        {%endif%}
        <div class="Menu center">
            <a class="LinkMenu margin-rigth10 center cursor"><span class="material-icons">menu</span></a>
        </div>
       </div>
    </header>
    
    <main>
        <article class="center-coluna article01">
            <section class="ContainerImgBackground">
                {% if usuario().level_admin != 2 %}
                <div class="ContainerForm center-coluna-align">
                    <form action="{{url('buscar')}}" id="form" role="search" method="post">
                        <h1 class="Text-Color-Branco">Busque por um serviço na Help</h1>
                        <div>
                            <input type="search" name="busca" id="servico" placeholder="Insira o seu serviço" autocomplete="off" maxlength="17" required>
                            <div id="ResPesquisa" class="box-shadow"></div>
                        </div>
                        <div>
                            <input type="search" name="local" id="local" placeholder="Insira a sua localização"  autocomplete="off" maxlength="17" required>
                            <div id="ResPesquisaLocal" class="box-shadow"></div>
                        </div>
                        <button class="SendPedido center Preto Text-Color-Branco" type="submit">Enviar pedido</button>
                    </form>
                </div>
                {% endif %}
            </section>
    
    
            <!--PROFISSIONAIS DE LIMPEZA-->
            <section class="SectionServicos hidden">
                <div class="ConatinerH1CadastroLimpeza center-coluna">
                    <div class="ContainerH1P">
                        <h1>Revitalize seu Espaço: Descubra a Magia da Limpeza Profissional!</h1>
                        <p>Descubra a facilidade e o conforto de um espaço impecavelmente limpo com nosso serviço de limpeza profissional. Na Help, estamos comprometidos em transformar sua casa ou escritório em um ambiente onde o brilho e a organização reinam supremos.Deixe-nos cuidar dos detalhes para que você possa aproveitar mais tempo para o que realmente importa.</p>
                    </div>
                    {% if usuario().id == null %}
                    <div class="CadastroLimpeza center-align">
                        <p>Ainda não possuis uma conta? Faça o seu cadastro na Help e ganhe muito dinheiro.</p>
                        <div class="BtnCadastrar Azul-Marinho">
                            <a href="{{url('cadastro')}}">Cadastrar</a>
                        </div>
                    </div>
                    {%endif%}
                </div>
                <div class="DivContainerImgLimpeza center">
                    <img src="{{url('templates/site/assets/img/img(1).jpg')}}" alt="">
                </div>
            </section>
    
    
            <!--PROFISSIONAIS DE CORTES DE CABELOS-->
            <section class="SectionServicos hidden">
                <div class="ConatinerH1CadastroLimpeza center-coluna">
                    <div class="ContainerH1P">
                        <h1>Beleza em Casa: Cortes de Cabelo onde Você Está!</h1>
                        <p>Descubra o conforto e a conveniência de receber serviços de cortes de cabelo diretamente na sua casa com o nosso time de profissionais especializados. No nosso site, você pode agendar seu próximo corte com facilidade, garantindo um estilo personalizado e adaptado às suas necessidades. Peça agora os nossos serviços para transformar seu visual sem sair de casa!</p>
                    </div>
                    {% if usuario().id == null%}
                    <div class="CadastroLimpeza center-align">
                        <p>Ainda não possuis uma conta? Faça o seu cadastro na Help e ganhe muito dinheiro.</p>
                        <div class="BtnCadastrar Azul-Marinho">
                            <a href="{{url('cadastro')}}">Cadastrar</a>
                        </div>
                    </div>
                    {%endif%}
                </div>
                <div class="DivContainerImgLimpeza center">
                    <img src="{{url('templates/site/assets/img/corte(1).jpg')}}" alt="">
                </div>
            </section>
          
            <!--PROFISSIONAIS DE TRANÇAS-->
            <section class="SectionServicos hidden">
                <div class="ConatinerH1CadastroLimpeza center-coluna">
                    <div class="ContainerH1P">
                        <h1>Tranças Mágicas: Estilo e Elegância em Cada Fio!</h1>
                        <p>Descubra a arte das tranças perfeitas no conforto da sua casa com nosso serviço exclusivo de trançado de cabelo. Nossos especialistas estão prontos para criar estilos deslumbrantes que combinam com seu estilo único. Cadastre-se agora para agendar sua sessão e transforme seu visual com tranças que impressionam!</p>
                    </div>
                    {% if usuario().id == null %}
                    <div class="CadastroLimpeza center-align">
                        <p>Ainda não possuis uma conta? Faça o seu cadastro na Help e ganhe muito dinheiro.</p>
                        <div class="BtnCadastrar Azul-Marinho">
                            <a href="{{url('cadastro')}}">Cadastrar</a>
                        </div>
                    </div>
                    {%endif%}
                </div>
                <div class="DivContainerImgLimpeza center">
                    <img src="{{url('templates/site/assets/img/trancas.jpg')}}" alt="" id="imgTrancas">
                </div>
            </section>
           
            <!--PROFISSIONAIS DE MANICURE E PEDICURE-->
            <section class="SectionServicos hidden">
                <div class="ConatinerH1CadastroLimpeza center-coluna">
                    <div class="ContainerH1P">
                        <h1>"Unhas Impecáveis: Arte e Cuidado para suas Mãos e Pés!"</h1>
                        <p>Experimente o luxo de cuidados especializados para suas mãos e pés com nosso serviço de manicure e pedicure ao domicílio. Nossos profissionais qualificados oferecem tratamentos que combinam estilo e bem-estar, garantindo unhas impecáveis e uma experiência relaxante. Cadastre-se agora e permita-nos trazer o salão de beleza até você, para que você possa desfrutar de uma aparência incrível sem sair de casa!</p>
                    </div>
                    {% if usuario().id == null %}
                    <div class="CadastroLimpeza center-align">
                        <p>Ainda não possuis uma conta? Faça o seu cadastro na Help.</p>
                        <div class="BtnCadastrar Azul-Marinho">
                            <a href="{{url('cadastro')}}">Cadastrar</a>
                        </div>
                    </div>
                    {%endif%}
                </div>
                <div class="DivContainerImgLimpeza center">
                    <img src="{{url('templates/site/assets/img/manicure(1).jpg')}}" alt="">
                </div>
            </section>
        </article>
    </main>
    
    {% for p in setPedidos %}

    <!--DADOS DO USUÁRIO QUE TRABALHA NA HELP-->
    {% if p.user_aceitou == usuario().id and usuario().especialidade != null %}

    
    {% if p.existe == 1 %}
    <!--VERIFICANDO TOTAL DE PEDIDOS ESPERANDO-->
    {% if total.pedido_espera == 0 %}
    <div id="pedidoMobile" url-busca = "{{url('redirecionar')}}" class="center Azul-Marinho">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    {%else%}
    <div id="pedidoMobile" url-busca = "{{url('redirecionar')}}" class="center pedidoMobile Azul-Marinho">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    {%endif%}

    {% elseif p.existe == 0 and p.user_aceitou == usuario().id %}
    <div id="pedidoMobile" url-busca = "{{url('redirecionar')}}" class="center Verde-Limão">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    {%endif%}

    {%endif%}


    <!--ESTES SÃO OS DADOS DO MEU USUÁRIO QUE FEZ O PEDIDO-->
    {% if  p.user_pediu == usuario().id and usuario().especialidade == null %}
    <!--VERIFICANDO TOTAL DE PEDIDOS ESPERANDO-->
    {% if total.pedido_espera == 0 %}

    {% if p.user_pediu == usuario().id and p.existe == 1 %}
    <div id="pedidoMobile" url-busca = "{{url('redirecionar')}}" class="center Azul-Marinho ">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    {%endif%}

    {%else%}

    {%if  p.user_pediu == usuario().id and p.existe == 1 %}
    <div id="pedidoMobile" url-busca = "{{url('redirecionar')}}" class="center pedidoMobile Verde-Limão">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    {%endif%}

    {%endif%}


    <!--VERIFICANDO TOTAL DE PEDIDOS ACEITES-->
    {% if total.pedido_aceite == 0 %}

    {%if  p.user_pediu == usuario().id and p.existe == 0 %}
    <div id="pedidoMobile" url-busca = "{{url('redirecionar')}}" class="center Verde-Limão">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    {%endif%}

    {%else%}

    {%if  p.user_pediu == usuario().id and p.existe == 0 %}
    <div id="pedidoMobile" url-busca = "{{url('redirecionar')}}" class="center pedidoMobile Verde-Limão">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    {%endif%}
    
    {%endif%}
    
    <!--ENDIF DO USUÁRIO QUE FEZ O PEDIDO-->
    {%endif%}

    {%endfor%}
    <aside class="gap30 " id="aside">
        <div class="OutMenu center-space-between width100">
            <h1 class=" margin-left20 Text-Color-Azul text-aglin-center">Help</h1>
            <span id="span" class="material-icons margin-rigth10 text-aglin-center cursor">close</span>
        </div>
        <div class="ContainerOptionsMenu center-coluna width100 gap20">
            {% if usuario().id %}

            {% if usuario().level_admin == 2 or  usuario().level_admin == 3%}
            <li class=" width70 cursorcenter border-bottom-azul center gap05 gap05">
                <a href="{{url('admin/dashboard')}}" class="center Text-Color-Preto font-weight-bold" target="_blank">Dashboard</a>
                <span class="material-icons">dashboard</span>
            </li>
            {%endif%}
            {% if usuario().especialidade %}
            <li class=" width70 cursor center border-bottom-azul gap05">
                <a href-busca = "{{url('redirecionar')}}" href="{{url('perfil/'~ToLower(usuario().nome))}}" class="center font-weight-bold Text-Color-Preto font-size08" id="link_perfil_menu" >Perfil</a>
                <span class="material-icons">person</span>
                
            </li>
            {%endif%}

            {%endif%}
            <li class=" width70 cursor center border-bottom-azul gap05">
                <a href="{{url('servicos')}}" class="center font-weight-bold font-size08 Text-Color-Preto">Serviços</a>
                <span class="material-icons">work</span>

            </li>
            <li class=" width70 cursor center border-bottom-azul gap05">
                <a href="#" class="center font-weight-bold font-size08 Text-Color-Preto">Sobre</a>
                <span class="material-icons">info</span>

            </li>
            <li class=" width70 cursor center border-bottom-azul gap05">
                <a href="{{url('termos')}}" class="center font-weight-bold font-size08 Text-Color-Preto">Termos</a>
                <span class="material-icons">description</span>

            </li>
            <li class=" width70 cursor center border-bottom-azul gap05 ">
                <a href="#" class="center font-weight-bold font-size08 Text-Color-Preto">Políticas de privacidade</a>
                <span class="material-icons">security</span>

            </li class=" width70 center">
            {% if usuario().id %}
            <li class="width70 cursor center border-bottom-azul gap05 ">
                <a href="{{url('admin/sair')}}" id="sair" class="center font-weight-bold font-size08 Text-Color-Preto">Sair</a>
                <span class="material-icons">exit_to_app</span>

            </li>
            {%endif%}
        </div>
    </aside>

    <footer class="Preto">
        <div class="Contactos">
            <p class="Text-Color-Branco TextAviso Suporte"><strong>Contatos para Suporte</strong></p>
            <p class="Text-Color-Branco ContentSuporte">Para dúvidas ou suporte, entre em contato conosco em <a
                    href="mailto:agmalavo@gmail.com">agmalavo@gmail.com </a> ou +244 944 025 160</p>
        </div>
        <div class="SocialMidi TextAvisoa">
            <p class="Text-Color-Branco"><strong>Redes Sociais</strong></p>
            <div class="ContainerRedes">
                <a href="#" class="Redes Branco center">
                    <i class="fab fa-facebook-f Text-Color-Preto center"></i>
                </a>
                <a href="#" class="Redes Branco center">
                    <i class="fab fa-twitter Text-Color-Preto center"></i>
                </a>
                <a href="#" class="Redes Branco center">
                    <i class="fab fa-youtube Text-Color-Preto center"></i>
                </a>
                <a href="#" class="Redes Branco center">
                    <i class="fab fa-instagram Text-Color-Preto center"></i>
                </a>
            </div>
        </div>
        <div class="ContainerPrivacy">
            <a href="#">Política de privacidade</a>
            <a href="#">Termos de uso</a>
            <a href="#">Sobre</a>
        </div>
    </footer>

    <div class="OfuscarTela"></div>

    <!--PÁGINA DE CARREGAMENTO-->

    <div class="ContainerSpinner">
        <i class="fa-solid fa-spinner fa-spin"></i>
    </div>

    <p style = "display: none"  id="alerta"></p>
    
    <script src="{{url('templates/site/assets/js/index.js')}}"></script>
</body>
</html>