body {
    background-color: rgba(240, 237, 237, 0.626);
    width: 100vw;
    height: 100vh;
    background-image: url('../img/password.jpg');
    background-size: cover;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin-bottom: 20px;
    height: 50px;
    padding: auto;
    z-index: 8;
}
.backg-opacity {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.452);
    opacity: .80;
    z-index: 2;
}

.container-autenticate {
    z-index: 4;
    position: relative;
    top: 100px;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-help{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prestate {
    position: absolute;
    bottom: -3px;
    left: 43px;
    font-size: .8em;
    font-weight: bold;
    font-family: monospace;
    color: gray;
}
.logo-help h3{
    color: blue;
    font-size: 1.5em;
}


.info-autenticate {
    text-indent: 20px;
    text-align: justify;
    font-size: .8em;
}

/*FORMULÁRIO PARA AUTENTICAÇÃO DE CONTA*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.div-input input{
    width: 30px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 83);
    outline-color: blue;
    caret-color: blue;
    text-align: center;    
}

.btn-submit button {
    width: 80px;
    border-radius: 4px;
    padding: 3px;
    border: none;
    background-color: blue;
    color: #FFFFFF;
}

.senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn-wht {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    border: none;
    background-color: green;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.btn-wht:hover {
    opacity: .70;
}

.btn-wht a{
    font-size: 1em;
    color: #FFFFFF;
    width: 120px;
}
.alerta {
    display: none;
}
.input-senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 35px;
    width: 25px;
    border-radius: 5px;
    border: 1.5px solid black;
}

.btn-whatsapp {
    z-index: 4;
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
    border: none;
}
.btn-wha.btn-whatsapp {
    opacity: .70;
}
.btn-whatsapp a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
}

@media screen and (min-width: 650px){
    .container-autenticate {
        width: 500px;
        height: 290px;
        gap: 20px;
    }
    .info-autenticate {
        font-size: .9em;
    }
    .btn-wht {
        display: flex;
    }
    .btn-whatsapp {
        display: none;
    }
}